*, *::before, *::after { box-sizing: border-box; margin: 0; }
h2      { margin-bottom: 4px; }
span    { font-size: 14px; }
.button { text-align: center; margin-top: 30px; margin-bottom: 10px; }
button  { border-radius: 10px ; padding: 10px; border: none; cursor: pointer; color: #fff; background: #000; }
i       { cursor: pointer; }
textarea{ position: absolute; pointer-events: none; }

html {
    background: url('images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


/* ---- CONTAINER ---- */
.container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    display: flex;
    color: #000;
}
.container-left {
    background: rgb(221, 218, 218);
    padding: 30px 25px;
    width: 250px;
}
.container-right {
    background: #fff;
    padding: 25px;
    width: 500px;
}
.container-box {
    margin-bottom: 20px;
    position: relative;
}
.option-box {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ---- LINE ---- */
.line {
    border: 1px solid rgb(221, 218, 218);
    height: 1px;
}
.lineBlack {
    border: 1px solid #000;
    height: 1px;
}


/* ---- INPUT ---- */
input[type="number"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    outline: none;
    margin: 0;
}
input[type="checkbox"]{
    position: relative;
    transition: 0.5s;
    -webkit-appearance: none;
    background: rgb(221, 218, 218);
    width: 35px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 20px;
    cursor: pointer;
}
input:checked[type="checkbox"]{
    background: rgb(61, 175, 61);
}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -1.5px;
    left: 0;
    background: rgb(145, 142, 142);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}
input:checked[type="checkbox"]:before{
    left: 15px;
}


/* ---- EVENT ---- */
small.errorLength,
small.errorNumber {
    position: absolute;
    right: 1px;
    bottom: -16px;
}

.password {
    display: flex;
    text-align: center;
    padding: 10px;
}

.animate {
    animation: transition 0.5s ease;
}

.copy {
    padding: 5px;
    background: #fff;
    border: 1px solid #000;
    display: flex;
    color: #000;
}


/* ---- KEYFRAMES ---- */
@keyframes transition {
    from    { transform: translateX(25px); }
    to      { transform: translateX(0px); }
}


/* ---- RESPONSIVE ---- */
@media screen and (max-width: 780px){
    .container {
        flex-direction: column;
        align-items: center
    }
    .container-left {
        width: 500px;
    }
}
@media screen and (max-width: 540px){
    .container-left {
        width: 320px;
    }
    .container-right {
        width: 320px;
    }
}
